*{
    margin: 0;
    padding: 0;

}



#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar{
    background-image: linear-gradient(to right,#a517ba,#5f1782);
    padding: 0 !important;
}
.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a{
    color: #fff  !important;
    font-weight: 600;
    float: right;
    text-align: left;
}
.perspective-text {
    color: white;
    font-family: Arial;
    font-size: 48px;
    font-weight: 600;
    letter-spacing: -2px;
    text-transform: uppercase;
  }
  
  .perspective-line {
    height: 45px;
    overflow: hidden;
    position: relative;
  }
  
  p {
    margin: 0;
    height: 50px;
    line-height: 50px;
    transition: all 0.5s ease-in-out;
    font-family: 'Poppins', sans-serif;
  }
  
  .perspective-line:nth-child(odd) {
    transform: skew(60deg, -30deg) scaleY(0.667);
  }
  
  .perspective-line:nth-child(even) {
    transform: skew(0deg, -30deg) scaleY(1.337);
  }
  
  .perspective-text:hover p {
    transform: translate(0, -50px);
  }
  
  .perspective-line:nth-child(1) {
    left: 29px;
  }
  
  .perspective-line:nth-child(2) {
    left: 58px;
    
    background: #f07e6e;
  }
  
  .perspective-line:nth-child(3) {
    left: 87px;
    background: #84cdfa;
  }
  
  .perspective-line:nth-child(4) {
    left: 116px;
    background: #5ad1cd;
  }
  
  .perspective-line:nth-child(5) {
    left: 145px;
  }
  
.fa-bars{
    color: #fff;
    font-size: 30px !important;
}
.navbar-toggler{
    outline: none !important;
}
/*------------ Banner Style -------------*/
#banner{
    background-image: linear-gradient(to right,#a517ba,#5f1782);
    color: #fff;
    padding-top: 5%;
    padding-left: 0%;
}

p{
    padding-left: 10%;
    font-family: 'Poppins', sans-serif;
}

.promo-title{
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}

.bottom-img{
    width: 100%;
}


